<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Event</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script> 
      document.addEventListener("DOMContentLoaded", function(event) {
      document.getElementById("isFestival").value = "<%= event.isFestival %>"
      document.getElementById("slotNumber").value = "<%= event.slotNumber %>"
      document.getElementById("venue").value = "<%= event.venue %>"
      document.getElementById("contactForm").value = "<%= event.contact %>"
    });</script>
  </head>
  <body>
    <div class="container">
      <%- include('../partials/title') %>
      <h2>Edit Event</h2>
      <form action="/events/update/<%= event._id %>" method="post" id="event">
        <table>
          <tbody>
            <tr>
              <td>Event Name/No.</td>
              <td><input type="text" name="klangkellerID" required value="<%= event.klangkellerID %>"/></td>
            </tr>
            <tr>
              <td>Is this a festival event?</td>
              <td>
                <select id="isFestival" name="isFestival" form="event" required value="<%= event.isFestival %>">
                  <option value="false">No</option>
                  <option value="true">Yes</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Date</td>
              <td><input type="date" name="date" required value="<%= new Date(event.date).toISOString().slice(0, 10) %>"/></td>
            </tr>
            <tr>
              <td>Time</td>
              <td><input type="time" name="time" required value="<%= event.time %>"/></td>
            </tr>
            <tr>
              <td>Venue</td>
              <td>
                <select name="venue" id="venue" form="event" required value="<%= event.venue %>">
                  <% include('../partials/venueoptions') %>
                  <%- venueOptions(options.venues) %>
                </select>
              </td>
            </tr>
            <tr>
              <td>Number of Slots</td>
              <td>
                <select id="slotNumber" name="slotNumber" form="event" required>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Will this event have an exhibition?</td>
              <td>
                <select name="hasExhibit" form="event" required value="false">
                  <option value="false">No</option>
                  <option value="true">Yes</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Main organiser</td>
              <td>
                <select name="contact" id="contactForm" form="event" required>
                  <% include('../partials/memberoptions') %>
                  <%- memberOptions(options.members) %>
                </select>
              </td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Save</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>
