<html>
<table class="list-table">
<% include ../../public/js/counter %>
<tbody>
  <% for(var i=0; i<events.length;i++) { %>
    <tr>
      <td>
        <b><%= events[i].klangkellerID%></b>
      </td>
    </tr>
    <tr>
      <td>
        <% var eventDate = events[i].date; var eventDate = eventDate.toDateString() %>
        <b><%= eventDate %><br>
        <%= events[i].time%> in the <%= events[i].venue%></b>
      </td>
    </tr>

    <% var count = 0%>
    <% for(var x=0; x<events[i].slotNumber;x++) { %>
      <% if(events[i].slots[x].title != undefined) { %>
      <% count++ %>
      <% } %>
    <% } %>
    <% var countdown = counter(eventDate, events[i].slotNumber, count) %>

    <% for(var x=0; x<events[i].slotNumber;x++) { %>
      <% if(events[i].slots[x].title != undefined) { %>
        <tr>
          <td>
            ////////////////////////////<br>
            <b><%= events[i].slots[x].title%></b>
          </td>
        </tr>
        <tr>
          <td>
            <%= events[i].slots[x].duration%> minutes
          </td>
        </tr>
        <tr>
          <td>
            <%= events[i].slots[x].description%>
          </td>
        </tr>
      <% } else { %>
      <tr>
        <td>
          ////////////////////////////<br>
          <% if(query.signup === "true" && countdown.signupLink === true) { %>
            click to <a href="/events/addslot/<%= events[i]._id %>?slot=<%= events[i].slots[x]._id %>">signup</a>
          <% } else { %>
            program to be confirmed
          <% } %>
        </td>
      </tr>
      <% } %>
    <% } %>
    <tr>
      <td>
        ////////////////////////////<br>
          <% if( events[i].documentation.name != undefined) { %>
            Documentation: <%= events[i].documentation.name %>
          <% } else if (query.signup === "true" || query.admin === "true"){ %>
            Documentation: click to <a href="/events/addbardoc/<%= events[i]._id %>?signup=doc">signup</a>
          <% } else { %>
          Documentation: to be confirmed
          <% } %>
      </td>
    </tr>
    <% if(query.signup === "true" || query.admin === "true") { %>
    <tr>
      <td>
        ////////////////////////////<br>
        <% if(query.signup === "true" || query.admin === "true") { %>
          <% if( events[i].bar.name != undefined) { %>
            Bar: <%= events[i].bar.name %>
          <% } else { %>
            Bar Staff: click to <a href="/events/addbardoc/<%= events[i]._id %>?signup=bar">signup</a>
          <% } %>
        <% } else { %>
          Bar Staff: to be confirmed
        <% } %>
      </td>
    </tr>
    <% } %>
    <tr>
      <td>
        <% if(query.signup === "true") { %>
        <span class="countdown-message"><%= countdown.message %></span><br>
        <% } %>
      </td>
    </tr>
    <tr>
      <td>
        <% if(query.admin === "true") { %>
          Main organiser: <%= events[i].contact %><br>
          <a href="/events/edit/<%= events[i]._id%>">edit event</a>
          <form action="/events/delete/<%= events[i]._id%>" method="post">
            <button type="submit">DELETE</button>
          </form>
        <% } %>
      </td>
    </tr>
  <% } %>
</tbody>
</table>
</html>