<!DOCTYPE html>
<html>
  <head>
    <title>Event Detail</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/events">Event List</a></h3>
      <h1>KLANGKELLER <%= event.klangkellerID %></h1>
      <table>
        <tbody>
          <tr>
            <td><b>Friday <%= event.date %><br>
            <%= event.time %> in the <%= event.venue %></b></td>
          </tr>
          <% for(var i=0;i<event.slotNumber;i++) { %>
            <% if(event.slots[i] != undefined) { %>
              <tr>
                <td>
                  ////////////////////////////<br>
                  <b><%= event.slots[i].title %> (slot <%= event.slots[i].id %>)</b></td>
              </tr>
              <tr>
                <td><%= event.slots[i].duration%></td>
              </tr>
              <tr>
                <td><%= event.slots[i].description%></td>
              </tr>
            <% } else { %>
              <tr>
                <td>
                  ////////////////////////////<br>
                  <b>free slot</b> click to <a href="/events/addslot/<%= event._id%>?slot=<%= event.slots.length %>">sign-up</a>
                </td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
      <form action="/events/delete/<%= event._id%>" method="post">
        <button type="submit">DELETE</button>
      </form>
    </div>
  </body>
</html>
