<html>
  <% for(var x=0; x < event.slotNumber;x++) {
    if(event.slots[x].title != undefined) { %>
      <tr>
        <td>
          ////////////////////////////<br>
          <b><%= event.slots[x].title%></b>
        </td>
      </tr>
      <tr>
        <td>
          <%= event.slots[x].duration%> minutes
        </td>
      </tr>
      <tr>
        <td>
          <%= event.slots[x].description%>
        </td>
      </tr>
    <% } else { %>
    <tr>
      <td>
        ////////////////////////////<br>
        <% if(query.signup === "true" && countdown.signupLink === true) { %>
          click to <a href="/events/addslot/<%= event._id %>?slot=<%= event.slots[x]._id %>">signup</a>
        <% } else { %>
          program to be confirmed
        <% } %>
      </td>
    </tr>
    <% } %>
  <% } %>
</html>