<html>
  <% for(var x=0; x < events[i].slotNumber;x++) {
    if(events[i].slots[x].title != undefined) { %>
      <tr>
        <td>
          ////////////////////////////<br>
          <b><%= events[i].slots[x].title%></b>
        </td>
      </tr>
      <tr>
        <td>
          <%= events[i].slots[x].duration%> minutes
        </td>
      </tr>
      <tr>
        <td>
          <%= events[i].slots[x].description%>
        </td>
      </tr>
    <% } else { %>
    <tr>
      <td>
        ////////////////////////////<br>
        <% if(query.signup === "true" && countdown.signupLink === true) { %>
          click to <a href="/<%= address %>/addslot/<%= events[i]._id %>?slot=<%= events[i].slots[x]._id %>">signup</a>
        <% } else { %>
          program to be confirmed
        <% } %>
      </td>
    </tr>
    <% } %>
  <% } %>
</html>