<!DOCTYPE html>
<html>
  <%- include('../partials/head', {options}) %>  
  <body>
    <div class="container">
      <div class ="docu-title">
      <h1><%= options.title %> // DOCUMENTATION</h1>
      </div>
      <div class="docu-content">
        <%- content.documentation %>
      </div>
      <% 
      const reversedEvents = events.reverse()
      reversedEvents.forEach(event => { %>
          <div class="docu-content">
            <span class="title"><b><%= event.klangkellerID%></b><br></span>
            <% var eventDate = event.date; var eventDate = eventDate.toDateString() %>
            <b><%= eventDate %></b><br>
            <% if (event.documentationPath) { %>
                <%- include(event.documentationPath); %>
            <% } %>
          </div>
        <% }) %>
    </div>
  </body>
</html>
