<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KLANGKELLER</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <div class ="docu-title">
      <h1>KLANGKELLER // DOCUMENTATION</h1>
      </div>
      <div class="docu-content">
        <p>These are the collected audio, video text and photo documentation from Klangkeller events since 2016. Kindly provided by volunteer documentarians. </p>
      </div>
      <% 
      events.sort(function compare(a, b) {
        var dateA = new Date(a.date);
        var dateB = new Date(b.date);
        return dateB - dateA;
      });

      var future
      var today = new Date()
      var days = 86400000
      var yesterday = new Date(today - (1*days))  

      for(var i=0; i<events.length;i++) { 
        
        future = yesterday.getTime() <= events[i].date.getTime();
        if(future !== true) { %>

          <div class="docu-content">
            <span class="title"><b><%= events[i].klangkellerID%></b><br></span>
            <% var eventDate = events[i].date; var eventDate = eventDate.toDateString() %>
            <b><%= eventDate %></b><br>
            <% for(var x=0; x<events[i].slotNumber;x++) { %>
            <% if( events[i].slots[x].title != undefined) { %>
            ////////////////////////////<br>
            <b><%= events[i].slots[x].title %></b><br>
            <%= events[i].slots[x].duration%> minutes<br>
            <%= events[i].slots[x].description%><br>
            <% } %><% } %>
            <p><% if( events[i].documentation.name != undefined) { %>
              ////////////////////////////<br>
              Documentation: <%= events[i].documentation.name %>
            <% } %></p>
            <p><% if( events[i].bar.name != undefined) { %>
              ////////////////////////////<br>  
              Bar/Door Staff: <%= events[i].bar.name %>
            <% } %></p>
            <% if (fs.existsSync("./views/documentation/" + events[i].klangkellerID + ".ejs")) { %>
                <%- include("./" + events[i].klangkellerID); %>
            <% } %>
          </div>  
        <% } %>
        <% } %>
      <div class="docu-content">

        <span class="title"><b>2016 program</b><br></span>

        #001 Laurie Tompkins and Susie Whaites<br>

        #002 Richard Scott, Lan Cao, Gregor Siedl and Adam Pultz Melbye<br>

        #003 Klaas Hübner, Laurie Tompkins and Susie Whaites<br>

        #004 Casey Moir, Gregor Siedl, Samuel Hall and Sam Weaver<br>

        #005 Dale Gorefinkel, Peter Farrar, Richard Scott and Julia Reidy<br>

        #006 Otto Willber, Mio Ebisu, Sam Andreae and Rogier Smal<br>

        #007 Julia Reidy, Laura Weber, Adam Pultz Melbye, Sam Andreae, Shasta Ellenbogen and Klaas Huebner<br>

        #008 Alexander Frangenheim, Niklas Fite, Sam Andreae, Vilhelm Bromander and IGNITE<br>

        #009 Andreas Dzialocha, Sam Andreae, NOR, Lan Cao<br>

        #010 Kelly Jayne Jones, Laura Weber, Christopher Jakobi, Mio Ebisu, Malte Kobel and Niklas Fite<br>
      </div>

    </div>
  </body>
</html>
